.wrap {
	background: url('a.jpeg');

			background-size: cover;
padding-bottom: 10px;
}

.position {
	width: 400px;
margin: auto;
padding-top: 1px;
}

h2 {
	color: white;
	padding-bottom: 60px;
	font-family: monospace, sans-serif;

	width: 400px;
	margin-left: 35px;
	font-size: 30px;
	letter-spacing: 2px;
	text-shadow: 1px 1px 1px white;



}

form ul {
	padding-left: 0;
	width: 380px;
	margin: auto;
}

form li {

	list-style: none;
	padding-bottom: 10px;
	font-family: sans-serif;
}
.pass {
	color: black;
}

.submitt {
	padding-top: 5px;

	padding-left: 150px;
}


.submit {
	padding-top: 5px;

	padding-left: 180px;
}

div a {
	color: black;
}

div a:hover {
	color: #66cc00;
font-size: 20px;
}

	.border {
		background-color: rgba(51, 102, 0, 0.2);

	padding-bottom: 10px;
	width: 410px;

	border-radius: 5px;
    border-top: 1px solid #d8dee2;


}
 li {
 	padding-top:10px;
 	list-style: none;
 }

 .login {
 	padding-top: 5px;

 	padding-left: 128px;
 	color: black;
 }

.image {
	width: 35px;
	margin: auto;



}
